.infocontainer{
    width: 60vw;
    background-image: linear-gradient(to right, #c58a94, #d4a2aa, #c58a94);
    position: absolute;
    top: 28%;
    left: 20%;
    box-shadow: 0px 0px 7px 3px #815a61;
    border-radius: 1%;
    display: flex;
}
.infocontainer .bio{
    background-color: transparent;
    content: center;
}

.flowerleft3{
    height: 70%;
    width: 100%;
    background: transparent;
    margin-bottom: -15%;
}
.your-face{
    height: 50%;
    width: 100%;
    padding-left: 2%;
    padding-bottom: 5%;
    padding-top: 2%;
    padding-right: 3%;
    background: transparent;
    /* margin-bottom: -15%; */
    /* margin-top: -20%; */
    /* add back margtop when using face image^^*/
}
.bio{
    
}