*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #E6D6C5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body {
    background-color: #E6D6C5;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
} */

