body {
    background-color: #D897A2;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    
}
.flowerleft{
    height: 65%;
    width: 20%;
    top: -26%;
    left: -2%;
    position: absolute;
    border-radius: 1%;
    background: transparent;
}
.flowerright{
    height: 65%;
    width: 20%;
    top: -26%;
    left: 82%;
    position: absolute;
    border-radius: 1%;
    background: transparent;
}

.flowerleft2{
    height: 120%;
    width: 30%;
    top: 10%;
    left: 2%;
    position: fixed;
    border-radius: 1%;
    background: transparent;
}
.flowerright2{
    height: 120%;
    width: 30%;
    top: 10%;
    left: 70%;
    position: fixed;
    border-radius: 1%;
    background: transparent;
}

.navbarcontainer{
    display: flex;
    justify-content: center;
    flex-direction:row;
    height: 20%;
    width: 100%;
    background-image: linear-gradient(to right, #483135, #d897a2, #483135);
    overflow: hidden;
    padding: 2%;
}

 h2 .header{
    position: absolute;
    font-size: 40px;
    letter-spacing: 3px;
    /* transition: 0.7s; */
    /* overflow: hidden; */
    box-shadow: 5px 3px 7px 3px black;
}
h2 .descriptor{
    position: absolute;
    font-size: 40px;
    letter-spacing: 3px;
    /* transition: 0.7s; */
    /* overflow: hidden; */
    box-shadow: 5px 3px 7px 3px black;
}
 
.navbarcontainer a{

    padding: 1.5% 2.5%;
    font-size: 2vh;
    background-color: #7c565c;
    box-shadow: 5px 3px 7px 3px black;
    margin-right: 1.5%;
    margin-left: 1%;
    transition: 0.5s;
    border-radius: 5%;
    text-decoration: none;
    /* margin-top: 45px; */
    color: white;
}
.navbarcontainer a:hover{

    padding: 1.6% 2.6%;
    font-size: 2.2vh;
    background-color: #5f4046;
    box-shadow: 5px 3px 7px 3px black;
    margin-right: 1.5%;
    margin-left: 1%;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.bottomborder{
    position: absolute;
    height: 6vh;
    width: 100vw;
    background-color: #483135;
    top: 100%;
    overflow: hidden;
}

.bottomborder h1{
    position: absolute;
    background: transparent;
    color: white;
    
}