:root{
    --base-color: #ffffff;
    --base-variant: #fce6d0;
    --text-color: rgb(0, 0, 0);
    --secondary-text: rgb(255, 255, 255);
    --primary-color: #7a0010;
    --secondary-color: #fff3e5;
    --accent-color: #e0a4b0;
}
.darkmode{
    --base-color: rgb(255, 255, 255);
    --base-variant: rgb(19, 19, 39);
    --text-color: rgb(167, 82, 96);
    --secondary-text: rgb(102, 82, 44);
    --primary-color: #ff8585;
    --secondary-color: #1a0e00;
    --accent-color: #803838;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    min-height: 100vh;
    /* height: 100%; */
    background-color: var(--base-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     overflow-x: hidden;
}



#container {
    min-height: 100%;
}
#main{
    overflow: auto;
    padding-bottom: 1000px;
    background-color: var(--base-color);
    height: 200px;
    overflow: hidden;
}

/* *{
    overflow-y: hidden;
}
.main{
    text-align: center;
    padding-top: 10%;
}

.main .header {
    font-size: 8vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background: transparent;
}
.main .descriptor {
   font-size: 6vh;
   margin-top: -2%;
    background: transparent;
} */



@media (max-width: 1150px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}















/* .hero {
    background-color: #4D0011;
    height: 100vh;
    color: #E6D6C5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover ;
    background-position: 47% 76%;
}

.startPageText {
    background-color: #4D0011;
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 0%;
}
.startPageText h1 {
    color:#E6D6C5;
    font-size: 150px;
    text-align: left;
    margin-top: 200px;
    padding-bottom: 10px;
    margin-left: 200px;
}
.startPageText h2 {
    color:#E6D6C5;
    font-size: 50px;
    text-align: left;
    margin-top: -100px;
    padding-bottom: 10px;
    margin-left: 200px;
} */